<IfModule mod_headers.c>

	Header unset ETag

	<filesMatch "\.(css)$">
		Header set Cache-Control "max-age=60, public"
	</filesMatch>
	<filesMatch "\.(js)$">
		Header set Cache-Control "max-age=60, private"
	</filesMatch>

</IfModule>

FileETag None

#RewriteEngine On
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?url=$1
#php_value auto_prepend_file "C:\laragon\www\iowa\capture_requests.php"
#php_value auto_prepend_file "/home/iowaidiomas/public_html/sis/capture_requests.php"
Header set Access-Control-Allow-Origin "*"
#AddOutputFilterByType DEFLATE application/x-javascript
#RewriteRule .* - [E=noabort:1]
#RewriteRule .* - [E=noconntimeout:1]


